{{ define "mdpage" }}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link href="/assets/gfm.css" media="all" rel="stylesheet" type="text/css" />
  <link href="//cdnjs.cloudflare.com/ajax/libs/octicons/2.1.2/octicons.css" media="all" rel="stylesheet"
    type="text/css" />
</head>

<body>
  <article class="markdown-body entry-content" style="padding: 30px;">
    {{.}}
  </article>
</body>
{{ end }}
